{%extends 'base.html'%}
{% load bootstrap4 %} 
{% load static %}

{% block content %}
{{block.super}}
{{ form.media }}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <h4>My Home</h4>
                <p>Latitude: {{profile.home_location.y}}</p>
                <p>Longitude: {{profile.home_location.x}}</p>
                <h4>My Workplace</h4>
                <p>Latitude: {{profile.work_location.y}}</p>
                <p>Longitude: {{profile.work_location.x}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}